.header {
  width: 100%;
  height: 1108px;
  background: #05132d;
  background: radial-gradient(circle, #7ec3e0 0%, #1d6a9e 42.5%, #05132d 90%);
  background-size: 150% 150%;
  animation: radial 6s ease infinite alternate;
  overflow: hidden;
}

@keyframes radial {
  50% {
    background-position: 0 100%;
  }
  50% {
    background-position: 50% 30%;
  }
  100% {
    background-position: 0% 10%;
  }
}

.header .nav {
  width: 100%;
  margin: auto;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header .content-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header .content-navbar .navItens {
  display: flex;
  grid-gap: 30px;
}

.header .content-navbar .navItens,
.header .content-navbar .navButtons,
.header .content-navbar .navbar-icons {
  padding-top: 30px;
}

.header .content-navbar .navItens a,
.header .content-navbar .navButtons a {
  color: var(--brand-white-primary);
  font-weight: 200;
}

.header .content-navbar .navButtons a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .content-navbar .navItens a {
  font-size: 18px;
}

.menu-toggle {
  display: none;
}

.main {
  height: 100vh;
}
