.header {
  position: relative;
  width: 100%;
  height: 1108px;
  background: #05132d;
  background: radial-gradient(circle, #7ec3e0 0%, #1d6a9e 42.5%, #05132d 90%);
  background-size: 150% 150%;
  animation: radial 6s ease infinite alternate;
}

@keyframes radial {
  50% {
    background-position: 0 100%;
  }
  50% {
    background-position: 50% 30%;
  }
  100% {
    background-position: 0% 10%;
  }
}

.menu-toggle {
  display: none;
}

.header .nav {
  width: 100%;
  margin: auto;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header .content-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header .content-navbar .navItens {
  display: flex;
  grid-gap: 5px;
}

.header .content-navbar .navItens li a {
  padding: 10px 20px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    background: var(--brand-white-primary);
    color: var(--brand-black-dark);
  }
}

.header .content-navbar .navItens,
.header .content-navbar .navButtons,
.header .content-navbar .navbar-icons {
  padding-top: 30px;
}

.header .content-navbar .navItens li a,
.header .content-navbar .navButtons a {
  font-size: 16px;
  color: var(--brand-white-primary);
  font-weight: 300;
}

.header .content-navbar .navButtons a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 30px;
  background: transparent;
  border: 1px solid var(--brand-white-primary);
  border-radius: 50px;
}

.header .content-navbar .navButtons a {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  &:hover {
    color: var(--brand-white-primary);
    background: var(--brand-blue-borders);
  }
}

.header .content-navbar .navButtons a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 120%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  transition: all 0.8s ease-in cubic-bezier(0.43, 2, 0.55, 0.27);
}

.header .content-navbar .navButtons a:hover::before {
  content: "";
  left: 100%;
}

.header .content-navbar .navButtons:hover a img {
  animation: translate 0.4s linear infinite;
}

@keyframes translate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2px);
  }
}

.header .navbar-icons {
  display: flex;
  grid-gap: 8px;
}

.header .navbar-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--brand-white-primary);
  text-align: center;
  line-height: 40px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  &:hover {
    background: var(--brand-blue-borders);
  }
}

.header .navbar-icons a i {
  font-size: 24px;
  color: var(--brand-color-icons);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header .navbar-icons a:hover i {
  color: var(--brand-white-primary);
}

/* BANNER OF HEADER ================== 
                   ==================*/

.banner {
  position: absolute;
  bottom: 0;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 60px;
}

.banner-img {
  position: relative;
  left: 20px;
}

.banner-img::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 0px;
  width: 70px;
  height: 70px;
  background: transparent;
  border-radius: 25px;
  border: 6px solid var(--brand-blue-borders);
  animation: border 10s linear infinite;
}

.banner-img::before {
  content: "";
  position: absolute;
  bottom: -60px;
  right: -100px;
  width: 130px;
  height: 130px;
  border-radius: 25px;
  background: var(--brand-blue-borders);
  animation: border 8s linear infinite;
}

@keyframes border {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 0;
  }
  0% {
    transform: scale(1) translateX(0px) rotate(360deg);
    opacity: 1;
  }
}

.banner-img img {
  width: 660px;
  height: 780px;
  object-fit: cover;
}

.banner-description {
  color: var(--brand-white-primary);
}

.banner .banner-description h1 {
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 20px;
}

.banner-description h1 span {
  font-weight: 200;
}

.banner-description p {
  font-size: 18px;
  font-weight: 200;
}

.banner-description p span {
  display: block;
}

.banner-button {
  padding-top: 40px;
}

.banner-button a {
  font-size: 18px;
  background: var(--brand-blue-secundary);
  padding: 10px 30px;
  border-radius: 30px;
  color: var(--brand-white-primary);
  font-weight: 200;
}

.banner-button a i {
  font-size: 24px;
  position: relative;
  top: 3px;
  left: 10px;
}

/* MAIN - SECTION  ================== 
                   ==================*/

.main-contant {
  width: 100%;
  height: 600px;
  background-color: var(--brand-grey-light-primary);
}

.main-contant .main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-contant .main-title {
  padding-top: 136px;
}

.main-contant .main-title h2 {
  font-size: 26px;
  color: var(--brand-blue-primary);

  font-weight: 400;
}

.main-contant .main-title h2 span {
  display: block;
}

.main-contant .main-description {
  margin-top: 16px;
}

.main-contant .main-description p {
  font-size: 32px;
  color: var(--brand-blue-secundary);
}

.main-contant .main-description p span {
  display: block;
}
