.header {
  position: relative;
  width: 100%;
  height: 1108px;
  background: #05132d;
  background: radial-gradient(circle, #7ec3e0 0%, #1d6a9e 42.5%, #05132d 70%);
  background-size: 150% 150%;
  animation: radial 6s ease infinite alternate;
}

@keyframes radial {
  50% {
    background-position: 0 100%;
  }
  50% {
    background-position: 50% 30%;
  }
  100% {
    background-position: 0% 10%;
  }
}

.menu-toggle {
  display: none;
}

.header .nav {
  width: 100%;
  margin: auto;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header .content-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header .content-navbar .navItens {
  display: flex;
  grid-gap: 5px;
}

.header .content-navbar .navItens li a {
  padding: 10px 20px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    background: var(--brand-white-primary);
    color: var(--brand-black-dark);
  }
}

.header .content-navbar .navItens,
.header .content-navbar .navButtons,
.header .content-navbar .navbar-icons {
  padding-top: 30px;
}

.header .content-navbar .navItens li a,
.header .content-navbar .navButtons a {
  font-size: 16px;
  color: var(--brand-white-primary);
  font-weight: 300;
}

.header .content-navbar .navButtons a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 30px;
  background: transparent;
  border: 1px solid var(--brand-white-primary);
  border-radius: 50px;
}

.header .content-navbar .navButtons a {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  &:hover {
    color: var(--brand-white-primary);
    background: var(--brand-blue-borders);
  }
}

.header .content-navbar .navButtons a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 120%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  transition: all 0.8s ease-in cubic-bezier(0.43, 2, 0.55, 0.27);
}

.header .content-navbar .navButtons a:hover::before {
  content: "";
  left: 100%;
}

.header .content-navbar .navButtons:hover a img {
  animation: translate 0.4s linear infinite;
}

@keyframes translate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2px);
  }
}

.header .navbar-icons {
  display: flex;
  grid-gap: 8px;
}

.header .navbar-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--brand-white-primary);
  text-align: center;
  line-height: 40px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  &:hover {
    background: var(--brand-blue-borders);
  }
}

.header .navbar-icons a i {
  font-size: 24px;
  color: var(--brand-color-icons);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header .navbar-icons a:hover i {
  color: var(--brand-white-primary);
}

/* BANNER OF HEADER ================== 
                   ==================*/

.banner {
  position: absolute;
  bottom: 0;
}

.banner .banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 60px;
}

.banner .banner-img {
  position: relative;
  left: 20px;
}

.banner .banner-img::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 0px;
  width: 70px;
  height: 70px;
  background: transparent;
  border-radius: 25px;
  border: 6px solid var(--brand-blue-borders);
  animation: border 10s linear infinite;
}

.banner .banner-img::before {
  content: "";
  position: absolute;
  bottom: -60px;
  right: -100px;
  width: 130px;
  height: 130px;
  border-radius: 25px;
  background: var(--brand-blue-borders);
  animation: border 8s linear infinite;
}

@keyframes border {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 0;
  }
  0% {
    transform: scale(1) translateX(0px) rotate(360deg);
    opacity: 1;
  }
}

.banner .banner-img img {
  width: 660px;
  height: 780px;
  object-fit: cover;
}

.banner .banner-description {
  color: var(--brand-white-primary);
}

.banner .banner-description h1 {
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 20px;
}

.banner .banner-description h1 span {
  font-weight: 200;
}

.banner .banner-description p {
  font-size: 18px;
  font-weight: 200;
}

.banner .banner-description p span {
  display: block;
}

.banner .banner-button {
  padding-top: 40px;
}

.banner .banner-button a {
  font-size: 18px;
  background: var(--brand-blue-secundary);
  padding: 10px 30px;
  border-radius: 30px;
  color: var(--brand-white-primary);
  font-weight: 300;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  &:hover {
    background: var(--brand-grey-light-primary);
    color: var(--brand-black-dark);
    letter-spacing: 2px;
  }
}

.banner-button a i {
  font-size: 24px;
  position: relative;
  top: 3px;
  left: 10px;
}

/* MAIN - SECTION  ================== 
                   ==================*/

.main-content {
  width: 100%;
  height: 480px;
  background-color: var(--brand-grey-light-primary);
}

.main-content .main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-content .main-title {
  padding-top: 136px;
}

.main-content .main-title h2 {
  font-size: 26px;
  color: var(--brand-blue-primary);
  font-weight: 400;
}

.main-content .main-title h2 span {
  display: block;
}

.main-content .main-description {
  margin-top: 16px;
}

.main-content .main-description p {
  font-size: 32px;
  color: var(--brand-blue-secundary);
}

.main-content .main-description p span {
  display: block;
}

/* MAIN - SECTION - INFO  ================== 
                          ==================*/

.info {
  width: 100%;
  height: 1040px;
  background: #05132d;
  background: radial-gradient(circle, #7ec3e0 0%, #1d6a9e 0%, #05132d 60%);
  background-size: 150% 150%;
  animation: radial 12s ease infinite alternate;
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
}

.info .info-container {
  display: flex;
  justify-content: center;
  grid-gap: 115px;
  align-items: center;
  padding: 297px 40px;
}

.info-icon {
  position: relative;
  z-index: 3;
  width: 440px;
  height: 440px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid var(--brand-white-primary);
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  &:hover {
    background: linear-gradient(
      45deg,
      transparent,
      transparent 40%,
      var(--brand-blue-secundary)
    );
  }
}

.info-icon::after {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  border-radius: 50%;
  border: solid 16px transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: var(--brand-blue-secundary);
  opacity: 0;
}
/* ANIMATION ( LOADING  ) */

.info-icon::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: -8px;
  right: -7px;
  width: 440px;
  height: 440px;
  border-radius: 50%;
  background: transparent;
  border: solid 12px transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: var(--brand-white-primary);
  transform: rotate(320deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  transition: all 2s cubic-bezier(0.43, 2, 0.55, 0.27);
}

.info-icon:hover::before {
  opacity: 0;
  transition: all 0.9s cubic-bezier(0.43, 2, 0.55, 0.27);
}

.info-icon:hover::after {
  opacity: 1;
  animation: animar 5s linear infinite;
}

@keyframes animar {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(-30deg);
  }
}

.info .info-icon img {
  position: relative;
  z-index: 9;
  width: 194px;
  height: 170px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.info .info-icon:active img {
  transform: scale(0.2);
}

.info-description h2,
.info-description h3,
.info-description p {
  color: var(--brand-white-primary);
  margin-bottom: 8px;
}

.info-description h2 {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 10px;
}

.info-description h3 {
  font-size: 40px;
  font-weight: 400;
}

.info-description p {
  font-size: 24px;
  font-weight: 200;
}

.info-description p span {
  display: block;
}

/* MAIN - SECTION - CAROUSEL ================== 
                             ==================*/

.main-carousel {
  position: relative;
  width: 100%;
  height: 460px;
  background-color: var(--brand-grey-light-primary);
}

.carousel-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 96px;
}

.carousel-content {
  margin-bottom: 20px;
}

.carousel-number {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--brande-blue-border-bottom);
}

.carousel-number h2 {
  font-weight: 300;
  font-size: 96px;
  color: var(--brand-white-primary);
}

.carousel-number h3 {
  position: relative;
  right: 220px;
  font-weight: 300;
  font-size: 96px;
  color: var(--brand-white-primary);
}

.carousel-description {
  align-self: flex-end;
  position: relative;
  right: 60px;
}

.carousel-description p {
  font-size: 18px;
  color: var(--brand-blue-secundary);
  font-weight: 300;
}

.carousel-description p span {
  display: block;
}

.main-carousel .carousel_one .slick-dots {
  position: absolute;
  top: 128%;
  left: -47%;
}

.main-carousel .carousel_one .slick-dots li.slick-active button {
  border: 2px solid var(--brand-dots);
  background: transparent;
}
.main-carousel .carousel_one .slick-dots li button {
  border: 2px solid var(--brand-dots);
  background: var(--brand-dots);
  margin-block: 106px;
}

/*  MAIN - BANNER ( TWO )    ================== 
                             ==================*/

.main-banner {
  background-image: url(../assets/imgs/banner.png);
  height: 560px;
  background-repeat: no-repeat;
  background-size: cover;
}
