/* =========================== RESPONSIVE - MOBILE (VERTICAL) */

@media screen and (max-width: 480px) {}


/* =========================== RESPONSIVE - MOBILE (HORIZONTAL) */

@media screen and (orientation: landscape) and (max-width: 1024px) {}


/* =========================== RESPONSIVE - TABLET */

@media screen and (min-width: 550px) and (orientation: portrait) and (max-width: 880px) {}