/* =========================== RESPONSIVE - MOBILE (VERTICAL) */

@media screen and (max-width: 480px) {
  .header .content-navbar .logo img {
    position: relative;
    z-index: 1200;
    top: 20px;
    width: 240px;
    height: 80px;
    object-fit: contain;
  }

  .header .nav {
    padding-bottom: 24px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  }

  .header .content-navbar {
    flex-direction: column;
    padding: 0px;
  }

  .power .navBar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 300vh;
    transition: all 0.6s ease-in-out;
    background: rgba(0, 0, 0, 0.9);
  }

  .menu-toggle {
    position: absolute;
    z-index: 1006;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    width: 90px;
    height: 80px;
    background: #1d6a9e;
    border-bottom-right-radius: 100%;
  }
  .menu-toggle:active i {
    opacity: 0.8;
  }

  .menu-toggle i {
    color: var(--brand-white-primary);
    font-size: 24px;
  }

  .menu-toggle .menu_open,
  .menu-toggle .menu_close {
    position: absolute;
    font-size: 28px;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    transition:
      transform 0.7s cubic-bezier(1, 0.005, 0.25, 1),
      -webkit-transform 0.7s cubic-bezier(1, 0.005, 0.25, 1);
  }
  .menu-toggle .menu_open {
    transform-origin: -100px -100px;
  }
  .menu-toggle .menu_close {
    transform: rotate(25deg);
    transform-origin: -100px -160px;
  }

  .navItens {
    flex-direction: column;
    position: absolute;
    top: 240px;
    bottom: 0;
    left: 60px;
  }

  .navItens li {
    margin-bottom: 30px;
    transform: translateX(-300px);
    transition:
      transform 0.7s cubic-bezier(1, 0.005, 0.24, 1),
      -webkit-transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
  }

  .header .content-navbar .navItens li a {
    border-radius: 30px;
    &:hover {
      background: none;
      color: var(--brand-white-primary);
      border-bottom: 1px solid var(--brand-white-primary);
    }
  }

  .navItens li:nth-child(2) {
    margin-left: 40px;
  }
  .navItens li:nth-child(3) {
    margin-left: 80px;
  }
  .navItens li:nth-child(4) {
    margin-left: 100px;
  }
  power contents {
    transform: rotate(-30deg);
  }

  .power .menu_open {
    transform: rotate(-20deg);
  }
  .power .menu_close {
    transform: rotate(0);
  }
  .power .navItens li {
    transform: translateX(0);
    transition:
      transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      -webkit-transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .power .navItens li:nth-child(2) {
    transition-delay: 0.47s;
  }
  .power .navItens li:nth-child(3) {
    transition-delay: 0.48s;
  }

  /* =========================== 
     ===========================  
     ===========================  MENU - MOBILE ( structure )     
  */

  .header .content-navbar .navItens li a,
  .header .content-navbar .navButtons a {
    font-size: 18px;
  }

  .header .content-navbar .navButtons a {
    z-index: 1005;
  }

  /* =========================== 
     ===========================  
     ===========================  BANNER    
  */
  .banner .banner-container {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .banner .banner-img {
    left: -10px;
  }
  .banner .banner-img::after {
    content: "";
    position: absolute;
    top: -2%;
    left: 0px;
    width: 60px;
    height: 60px;
  }

  .banner .banner-img::before {
    content: "";
    position: absolute;
    bottom: -30px;
    right: 6px;
    width: 80px;
    height: 80px;
  }

  .banner .banner-img img {
    width: 100%;
    height: 54vh;
  }
  .banner .banner-description {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .banner .banner-description h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .banner .banner-description p {
    width: 80%;
    font-size: 20px;
    display: inline-block;
  }

  .banner .banner-button {
    width: 100%;
  }

  /* =========================== 
     ===========================  
     ===========================  MAIN    
  */

  .main-content .main-title {
    padding-top: 66px;
  }

  .main-content .main-title h2 {
    font-size: 20px;
  }
  .main-content .main-description {
    width: 100%;
    text-align: left;
  }
  .main-content .main-description p {
    font-size: 22px;
  }

  /* =========================== 
     ===========================  
     ===========================  MAIN ( INFO )     
  */

  .info {
    height: 780px;
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  }
  .info .info-container {
    flex-direction: column;
    grid-gap: 60px;
    padding: 120px 40px;
  }
  .info-icon {
    width: 250px;
    height: 250px;
  }
  .info-icon::after {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    border-radius: 50%;
    border: solid 12px transparent;
    border-right-color: var(--brand-blue-secundary);
    opacity: 0;
  }
  .info-icon::before {
    content: "";
    width: 100%;
    height: 100%;
  }

  .info .info-icon img {
    width: 136px;
    height: 136px;
  }
  .info-description h2 {
    font-size: 16px;
  }
  .info-description h3 {
    font-size: 28px;
  }
  .info-description {
    text-align: left;
  }
  .info-description p {
    font-size: 20px;
  }

  /* =========================== 
     ===========================  
     ===========================  MAIN ( CAROUSEL )     
  */

  .carousel-container {
    padding-top: 56px;
  }

  .carousel-number h2 {
    font-size: 56px;
  }
  .carousel-number h3 {
    right: 0px;
    top: 10px;
    font-size: 46px;
  }
  .carousel-description {
    align-self: flex-start;
    right: 0px;
    text-align: center;
  }
  .carousel-description p {
    font-size: 20px;
  }

  .main-carousel .carousel_one .slick-dots {
    position: absolute;
    top: 146%;
    left: 0%;
  }

  /* =========================== 
     ===========================  
     ===========================  MAIN - BANNER ( TWO )     
  */

  .main-banner {
    background-image: url(../assets/imgs/banner.png);
    height: 280px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }
}

/* =========================== RESPONSIVE - MOBILE (HORIZONTAL) */

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .header {
    width: 200%;
  }
  .main-content {
    width: 200%;
    background: var(--brand-grey-normal-secundary);
  }
  .info {
    width: 200%;
  }
  .main-carousel {
    width: 200%;
    background: var(--brand-grey-normal-secundary);
  }
  .main-banner {
    width: 200%;
  }
  .customers {
    width: 200%;
    background: var(--brand-grey-normal-secundary);
  }
  .banner-two {
    width: 200%;
  }
}

/* =========================== RESPONSIVE - TABLET */

@media screen and (min-width: 550px) and (orientation: portrait) and (max-width: 880px) {
}
